<h1><%= @cocktail.name %></h1>
<ul>
  <li>
    <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <% end %>
  </li>
</ul>

<%= link_to "New Dose", new_cocktail_doses_path(@cocktail) %>
